
/* Reset */
html, body, html body{font-family:'Roboto', 'Prompt';}
body.login{padding-top:0; padding-bottom:0;}


/* Alert Card */
.alert-card{cursor:pointer; max-width:350px;}
.alert-card ul{list-style:disc; padding:0 0 0 22px;}
.alert-card ul > li{padding:2px 0;}
@media screen and (max-width:1299.98px){
    .alert-card{max-width:100%;}
}


/* Pagination */
.pagination li .pagination__link.pagination__link--active{pointer-events:none;}
.pagination li .pagination__link.disabled{pointer-events:none; opacity:.6;}
