/* Colors */
/* Variables */
/* Media queries */
/* Mixins */
/* Typography */
html,
body {
  font-family: 'Sarabun', sans-serif;
  font-weight: normal;
  line-height: 21px;
}

h1 {
  font-size: 24px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 40px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 52px;
  }
}

h2 {
  font-size: 24px;
}

@media (min-width: 600px) {
  h2 {
    font-size: 32px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 42px;
  }
}

h3 {
  font-size: 24px;
}

@media (min-width: 600px) {
  h3 {
    font-size: 24px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 36px;
  }
}

h4 {
  font-size: 16px;
}

@media (min-width: 600px) {
  h4 {
    font-size: 22px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 31px;
  }
}

h5 {
  font-size: 16px;
}

@media (min-width: 600px) {
  h5 {
    font-size: 18px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 26px;
  }
}

h6 {
  font-size: 16px;
}

@media (min-width: 600px) {
  h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.h1 {
  font-size: 24px;
}

@media (min-width: 600px) {
  .h1 {
    font-size: 40px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 52px;
  }
}

.h2 {
  font-size: 24px;
}

@media (min-width: 600px) {
  .h2 {
    font-size: 32px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 42px;
  }
}

.h3 {
  font-size: 24px;
}

@media (min-width: 600px) {
  .h3 {
    font-size: 24px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 36px;
  }
}

.h4 {
  font-size: 16px;
}

@media (min-width: 600px) {
  .h4 {
    font-size: 22px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 31px;
  }
}

.h5 {
  font-size: 16px;
}

@media (min-width: 600px) {
  .h5 {
    font-size: 18px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 26px;
  }
}

.h6 {
  font-size: 16px;
}

@media (min-width: 600px) {
  .h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.description {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}

.normal {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
}

@media (min-width: 600px) {
  .normal {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.text-dark-gray {
  color: #434349 !important;
}

.text-header {
  color: #595d6e !important;
}

.text-paragraph {
  color: #282a3c !important;
}

.text-paragraph2 {
  color: #74788d !important;
}

.text-menu {
  color: #b8bac3 !important;
}

.text-a-link {
  color: #2C1A6B !important;
}

.text-a-link2 {
  color: #090737 !important;
}

.text-bg-active {
  color: #f5f6fc !important;
}

.text-success {
  color: #1dc9b7 !important;
}

.text-warning {
  color: #f7a93b !important;
}

.text-danger {
  color: #c42b52 !important;
}

.text-info {
  color: #3d60c5 !important;
}

.text-primary {
  color: #2C1A6B !important;
}

.text-brand {
  color: #2C1A6B !important;
}

.text-brand2 {
  color: #090737 !important;
}

.text-label1 {
  color: #a2a5b9 !important;
}

.text-label2 {
  color: #74788d !important;
}

.text-label3 {
  color: #595d6e !important;
}

.text-label4 {
  color: #48465b !important;
}

.text-shape1 {
  color: #f0f3ff !important;
}

.text-shape2 {
  color: #e8ecfa !important;
}

.text-shape3 {
  color: #93a2dd !important;
}

.text-shape4 {
  color: #646c9a !important;
}

.text-accent {
  color: #2C1A6B !important;
  font-weight: bold !important;
}

.text-accent2 {
  color: #090737 !important;
  font-weight: bold !important;
}

.text-overflow-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Background Colors */
.bg-dark-gray {
  color: #434349 !important;
}

.bg-header {
  color: #595d6e !important;
}

.bg-paragraph {
  color: #282a3c !important;
}

.bg-paragraph2 {
  color: #74788d !important;
}

.bg-menu {
  color: #b8bac3 !important;
}

.bg-a-link {
  color: #2C1A6B !important;
}

.bg-a-link2 {
  color: #090737 !important;
}

.bg-bg-active {
  color: #f5f6fc !important;
}

.bg-success {
  color: #1dc9b7 !important;
}

.bg-warning {
  color: #f7a93b !important;
}

.bg-danger {
  color: #c42b52 !important;
}

.bg-info {
  color: #3d60c5 !important;
}

.bg-primary {
  color: #2C1A6B !important;
}

.bg-brand {
  color: #2C1A6B !important;
}

.bg-brand2 {
  color: #090737 !important;
}

/* Forms */
input,
select {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
  width: 140px;
  height: 34px;
  color: #2C1A6B;
  background-color: #e8ecfa;
  border: 0;
  border-radius: 4px;
  outline: none;
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #646c9a 50%), linear-gradient(135deg, #646c9a 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

/* Button */
.app-btn {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 122px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.app-btn:hover {
  background-color: rgba(9, 7, 55, 0.75) !important;
  color: #fff !important;
}

.app-btn span[class^='material-icons'] {
  font-size: 20px;
}

.app-btn:not(.app-btn-icon) span[class^='material-icons'] {
  margin-right: 8px;
}

.app-btn.app-btn-sm {
  height: 29px;
}

.app-btn.app-btn-lg {
  height: 40px;
}

.app-btn.app-btn-xl {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  height: 55px;
}

@media (min-width: 600px) {
  .app-btn.app-btn-xl {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.app-btn.app-btn-light {
  color: #090737;
  background-color: #f5f6fc;
}

.app-btn.app-btn-primary {
  color: #ffffff;
  background-color: #2C1A6B;
}

.app-btn.app-btn-primary-light {
  color: #2C1A6B;
  background-color: rgba(44, 26, 107, 0.1);
}

.app-btn.app-btn-shape2 {
  color: #646c9a;
  background-color: #e8ecfa;
}

.app-btn.app-btn-shape4 {
  color: #646c9a;
  background-color: rgba(100, 108, 154, 0.1);
}

.app-btn.app-btn-header {
  font-weight: 500;
  color: #595d6e;
  background-color: rgba(89, 93, 110, 0.05);
}

.app-btn.app-btn-a-link {
  color: #2C1A6B;
  background-color: rgba(44, 26, 107, 0.1);
}

.btn.btn-icon.btn-icon-md [class^="la-"], .btn.btn-icon.btn-icon-md [class*=" la-"] {
  font-size: 1.8rem;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-toolbar .kt-portlet__head-toolbar-wrapper {
  position: absolute;
  right: 10px;
}

/* Separator */
.app-separator {
  display: block;
  margin: 0 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b8bac3;
}

.app-separator.app-separator-sm {
  margin: 0 5px;
  width: 2px;
  height: 2px;
}

.app-separator-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.app-separator-line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-top: 1px solid #e8ecfa;
}

/* Custom avatar size */
.kt-media.kt-media--circle.kt-media--custom img {
  max-width: 40px;
  height: 40px;
}

/* Custom Elements */
@media (min-width: 600px) {
  .dropdown-menu.dropdown-menu-xl {
    width: 650px;
  }
}

@media (min-width: 600px) {
  .dropdown-menu.dropdown-menu-l {
    width: 400px;
  }
}

.kt-head.kt-head--sm {
  height: 74px;
  background-color: #090737;
  background-image: url(../images/bg-popup.png);
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm {
  position: relative;
  padding-top: 0;
  padding-bottom: 20px;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav {
  position: absolute;
  left: 0;
  bottom: -30px;
  margin-bottom: 0;
  width: 100%;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link {
  position: relative;
  background-color: #f0f3ff;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link .nav-link-title {
  color: #090737 !important;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link.active, .dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link:hover {
  background-color: #2C1A6B;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link.active .nav-link-title, .dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link:hover .nav-link-title {
  color: #ffffff !important;
}

.dropdown-menu.dropdown-menu-tab .kt-head.kt-head--sm .nav .nav-link .kt-badge {
  position: absolute;
  top: -12px;
  right: 0;
  width: 24px;
  height: 24px;
}

.kt-badge.kt-badge--danger {
  background-color: #c42b52;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item {
  padding: 0px 0.5rem;
}

.kt-header-menu-wrapper
.kt-header-menu
.kt-menu__nav
> .kt-menu__item
> .kt-menu__link {
  padding-left: 20px;
  padding-right: 20px;
  background-color: none;
  border-radius: 4px;
}

.kt-header-menu-wrapper
.kt-header-menu
.kt-menu__nav
> .kt-menu__item
> .kt-menu__link:hover {
  background-color: rgba(235, 237, 242, 0.9);
}

.kt-header-menu-wrapper
.kt-header-menu
.kt-menu__nav
> .kt-menu__item
> .kt-menu__link .kt-menu__link-text {
  font-size: 1.1rem;
  line-height: 24px;
  font-weight: 500;
  color: #090737;
}

.kt-header-menu-wrapper
.kt-header-menu
.kt-menu__nav
> .kt-menu__item.kt-menu__item--here
> .kt-menu__link {
  background-color: rgba(235, 237, 242, 0.9);
}

.kt-header-menu-wrapper
.kt-header-menu
.kt-menu__nav
> .kt-menu__item.kt-menu__item--here
> .kt-menu__link .kt-menu__link-text {
  color: #2C1A6B;
}

.kt-header-menu-wrapper .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link:hover > .kt-menu__link-text {
  color: #2C1A6B !important;
}

.kt-header-menu-wrapper .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link:hover > .kt-menu__hor-arrow {
  color: #2C1A6B !important;
}

.kt-header-menu
.kt-menu__nav
> .kt-menu__item
> .kt-menu__link
> .kt-menu__hor-arrow {
  color: #282a3c !important;
}

.kt-user-card-v4 .kt-user-card-v4__avatar .kt-badge, .kt-user-card-v4 .kt-user-card-v4__avatar img {
  border-radius: 50% !important;
}

.kt-grid-nav .kt-grid-nav__item {
  width: 20%;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  height: 115px;
  min-height: 115px;
  padding: 10px;
  overflow: hidden;
  border: 0;
}

.kt-grid-nav .kt-grid-nav__item .kt-grid-nav__item-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-bottom: 0;
}

.kt-grid-nav a.kt-grid-nav__item:hover .kt-grid-nav__item-icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.kt-grid-nav .kt-grid-nav__item .kt-grid-nav__item-icon i {
  font-size: 2.4rem;
  color: #fff;
  opacity: 1;
  line-height: 50px;
}

.kt-grid-nav .kt-grid-nav__item .kt-grid-nav__item-title {
  font-size: 0.9rem;
  font-weight: 500;
  height: 35px;
  line-height: 16px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.kt-notification {
  background-color: #fff;
}

.kt-notification .kt-notification__item .kt-notification__item-details {
  padding-left: 10px;
}

.kt-notification
.kt-notification__item
.kt-notification__item-details
.kt-notification__item-time {
  font-size: 0.8rem;
}

.kt-notification
.kt-notification__item
.kt-notification__item-details
.kt-notification__item-title {
  font-weight: 500;
}

.kt-notification
.kt-notification__item
.kt-notification__item-details
.kt-notification__item-title
div {
  font-size: 1rem;
  font-weight: 100;
}

.kt-header__brand-logo-default {
  max-height: 70px;
  max-width: 350px;
  margin-top: 10px;
}

.kt-header__brand-logo-default-txt {
  display: inline-table;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 15px;
}

.kt-header__brand-logo-default-txt > h4{margin:8px 0 0 0;}
.kt-header__brand-logo-default-txt > h6{margin:0;}

.kt-header__brand-logo-default-txt p {
  font-size: 1.2rem;
  font-weight: 500;
}

.kt-header__brand-logo-sticky {
  max-height: 45px;
  max-width: 350px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-table;
}

.kt-header__brand .kt-header__brand-logo > a {
  display:flex; align-items:center;
}

.kt-header__brand-logo-sticky-txt {
  display: inline-table;
  color: #464457;
  font-size: 1.2rem;
  font-weight: 500;
}

.kt-header__brand-logo-sticky-txt p {
  font-size: 1rem;
  font-weight: 500;
}

.kt-header-mobile .kt-header__brand-logo-sticky {
  max-height: 35px;
  max-width: 350px;
  display: inline-table;
}

.kt-header-mobile .kt-header__brand-logo-sticky-txt {
  font-size: 0.9rem;
}

.kt-header-mobile .kt-header__brand-logo-sticky-txt p {
  font-size: 0.7rem;
}

.kt-grid-nav .kt-grid-nav__item {
  position: relative;
}

.kt-grid-nav__item-shortcuts {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  z-index: -1;
  transition: -webkit-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.kt-grid-nav .kt-grid-nav__item:hover .kt-grid-nav__item-shortcuts {
  -webkit-transform: scale(5);
  transform: scale(5);
}

.kt-grid-nav .kt-grid-nav__item:hover .kt-grid-nav__item-icon i,
.kt-grid-nav .kt-grid-nav__item:hover .kt-grid-nav__item-title {
  color: #fff;
}

.kt-header__topbar
.kt-header__topbar-item.kt-header__topbar-item--search
.kt-quick-search
.kt-quick-search__form
.input-group {
  background: rgba(255, 255, 255, 0.15);
}

.kt-header__topbar
.kt-header__topbar-item
.kt-header__topbar-wrapper
.kt-header__topbar-icon {
  background: rgba(255, 255, 255, 0.15);
}

.kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon {
  background: #5867dd;
  border-color: #5867dd;
}

.kt-grid__item--fluid {
  min-height: 700px;
}

.bg-color-brand {
  background-color: #2C1A6B;
}

.kt-footer .kt-footer__top .kt-footer__nav li a {
  color: #5d5e7d;
}

.kt-header__top {
  position: relative;
  z-index: 2;
}

.kt-header__bottom {
  position: relative;
  z-index: 97;
}

@media (min-width: 1200px) {
  .kt-header__bottom {
    z-index: 1;
  }
}

.kt-container {
  position: relative;
  z-index: 1;
}

.kt-body {
  background: #efeff5;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.breadcrumb {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  background-color: transparent;
}

.breadcrumb .breadcrumb-item {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}

.breadcrumb .breadcrumb-item a {
  color: #74788d;
}

.kt-subheader
.kt-subheader__main
.kt-subheader__breadcrumbs
.kt-subheader__breadcrumbs-link {
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  color: #595d6e;
  font-weight: 500;
}

.kt-subheader
.kt-subheader__main
.kt-subheader__breadcrumbs
.kt-subheader__breadcrumbs-link.active {
  background: rgba(44, 26, 107, 0.1);
  border-radius: 4px;
  color: #2C1A6B;
  font-weight: 400;
}

.kt-subheader
.kt-subheader__main
.kt-subheader__breadcrumbs
.kt-subheader__breadcrumbs-separator {
  padding-right: 0.6rem;
}

.kt-portlet {
  -webkit-box-shadow: 0px 0px 15px rgba(82, 63, 105, 0.25);
          box-shadow: 0px 0px 15px rgba(82, 63, 105, 0.25);
}

.kt-portlet.portlet-warning {
  background: rgba(247, 169, 59, 0.15);
}

.kt-portlet .kt-portlet__head {
  min-height: 70px;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  font-size: 16px;
  color: #434349;
}

@media (min-width: 600px) {
  .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    font-size: 18px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 26px;
  }
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title span {
  font-size: 1rem;
  color: #74788d;
}

.kt-portlet .kt-portlet__body {
  padding-top: 0;
}

.kt-checkbox-list {
  padding-right: 25px;
}

.kt-checkbox-list .kt-checkbox {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2C1A6B;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@media (min-width: 600px) {
  .kt-checkbox-list .kt-checkbox {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.kt-checkbox-list .kt-checkbox > span {
  border-color: #74788d;
}

.kt-checkbox-list .kt-checkbox > span::after {
  border-color: #2C1A6B;
}

.kt-checkbox-list .kt-checkbox > input:checked ~ span {
  border-color: #2C1A6B;
}

.kt-checkbox-list .kt-checkbox:hover > span {
  border-color: #2C1A6B;
}

.kt-checkbox-list .kt-checkbox .checkbox-counter {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #74788d;
}

@media (min-width: 600px) {
  .kt-checkbox-list .kt-checkbox .checkbox-counter {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.kt-checkbox-list .kt-checkbox.widget {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  color: #434349;
  padding: 7px;
  margin: 0;
  border-radius: 4px;
}

.kt-checkbox-list .kt-checkbox.widget:hover {
  background: #f0f3ff;
}

.kt-checkbox-list .kt-checkbox.widget .checkbox-counter {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  background: #a2a5b9;
  padding: 2px 5px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}

.modal-xl {
  max-width: 85%;
}

.portlet--sortable {
  min-height: 100px;
}

.kt-header .kt-header__bottom {
  height: 50px !important;
}

.kt-portlet--sortable-placeholder {
  background: #f5f6fc;
  border: 2px dashed #e8ecfa;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.kt-radio-list {
  padding-right: 25px;
}

.kt-radio-list .kt-radio {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2C1A6B;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@media (min-width: 600px) {
  .kt-radio-list .kt-radio {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.kt-radio-list .kt-radio > span {
  border-color: #74788d;
}

.kt-radio-list .kt-radio > span::after {
  border-color: #2C1A6B;
}

.kt-radio-list .kt-radio > input:checked ~ span {
  border-color: #2C1A6B;
}

.kt-radio-list .kt-radio:hover > span {
  border-color: #2C1A6B;
}

.kt-radio-list .kt-radio .radio-counter {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #74788d;
}

@media (min-width: 600px) {
  .kt-radio-list .kt-radio .radio-counter {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.header-section {
  color: #090737;
  font-weight: 500;
  margin-bottom: 40px;
}

table thead {
  border-bottom: 3px solid #93a2dd;
}

table thead th {
  font-weight: bold !important;
  color: #74788d;
}

.table-wrapper table th {
  width: 70%;
}

.table-wrapper table th.first-column {
  width: 25%;
}

@media (min-width: 600px) {
  .table-wrapper table th.first-column {
    width: 15%;
  }
}

.table-wrapper table tr {
  border-bottom: 1px solid #e8ecfa;
}

.table-wrapper table td {
  color: #595d6e;
}

.table-wrapper table td:first-child {
  color: #090737;
  font-weight: 500;
}

.number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100px;
  color: #646c9a;
}

.number h1 {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.number span {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  position: relative;
  z-index: 2;
}

@media (min-width: 600px) {
  .number span {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.number::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100px;
  min-height: 100px;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../media/misc/iconbox_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
}

.kt-portlet.graph-card {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}

.kt-portlet.graph-card .graph-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .kt-portlet.graph-card .graph-card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .kt-portlet.graph-card .graph-card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.kt-portlet.graph-card .graph-card-body.full {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.kt-portlet.graph-card .graph-card-body.full .graph-card-chart {
  min-height: 200px;
  width: 100%;
}

@media (min-width: 1000px) {
  .kt-portlet.graph-card .graph-card-body.full .graph-card-chart {
    min-height: 430px;
  }
}

.kt-portlet.graph-card .graph-card-body.pie-full {
  min-height: 200px;
}

@media (min-width: 600px) {
  .kt-portlet.graph-card .graph-card-body.pie-full {
    min-height: 400px;
    padding: 0 5%;
  }
}

@media (min-width: 1000px) {
  .kt-portlet.graph-card .graph-card-body.pie-full {
    min-height: 547px;
    padding: 0 10%;
  }
}

.kt-portlet.graph-card .graph-card-body.pie-full .graph-card-chart_chart {
  height: 100%;
}

.kt-portlet.graph-card .graph-card-body .number {
  margin-right: 0;
}

@media (min-width: 1000px) {
  .kt-portlet.graph-card .graph-card-body .number {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.kt-portlet.graph-card .graph-card-body .graph-card-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1000px) {
  .kt-portlet.graph-card .graph-card-body .graph-card-chart {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
}

.kt-portlet.graph-card .graph-card-body .graph-card-chart_chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.table-card .table-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.table-card .table-card-body table tr {
  border-bottom: 1px solid #e8ecfa;
}

.kt-portlet.text-card .text-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.text-card .text-card-body .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .kt-portlet.text-card .text-card-body .row-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
}

.kt-portlet.text-card .text-card-body .row-wrapper .label {
  width: 100%;
  color: #595d6e;
}

@media (min-width: 600px) {
  .kt-portlet.text-card .text-card-body .row-wrapper .label {
    padding-right: 8px;
    width: 160px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.kt-portlet.text-card .text-card-body .row-wrapper .detail {
  color: #090737;
  word-break: break-word;
}

.kt-portlet.text-card .text-card-body .row-wrapper .detail.file {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.text-card .text-card-body .row-wrapper .file-wrapper button {
  width: 140px;
  padding: 5px 10px;
  margin-left: auto;
  background: #c42b52;
  border-radius: 4px;
  color: #ffffff;
}

.kt-portlet.text-card .text-card-body .row-wrapper .file-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f3ff;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.kt-portlet.text-card .text-card-body .row-wrapper .file-wrapper button:hover {
  background: #b12548;
}

.kt-portlet.text-card .text-card-body .row-wrapper .file-wrapper button i {
  font-size: 2.2rem;
}

.kt-portlet.text-card
.text-card-body
.row-wrapper
.file-wrapper
button
span.small {
  font-size: 10px;
}

.kt-portlet.tab-card .tab-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #090737;
}

.kt-portlet.feed-card .kt-portlet__head {
  padding-top: 16px;
  padding-bottom: 16px;
}

.kt-portlet.feed-card .kt-portlet__head-toolbar {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.kt-portlet.feed-card .feed-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kt-portlet.feed-card .feed-card-header .avatar-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.kt-portlet.feed-card .feed-card-header .feed-header .person-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1px;
}

.kt-portlet.feed-card .feed-card-header .feed-header .person-line .from-person,
.kt-portlet.feed-card .feed-card-header .feed-header .person-line .to-person {
  color: #2C1A6B !important;
  font-weight: bold !important;
}

.kt-portlet.feed-card .feed-card-header .feed-header .person-line .person-divider {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.54);
}

.kt-portlet.feed-card .feed-card-header .feed-header .date-line {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 10px;
  color: #74788d;
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 8px;
  border-left: 3px solid #e8ecfa;
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line .attachment {
  width: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 15px;
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line .content .content-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #090737;
}

@media (min-width: 600px) {
  .kt-portlet.feed-card .feed-card-header .feed-header .content-line .content .content-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line .content .content-category {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  color: #74788d;
}

.kt-portlet.feed-card .feed-card-header .feed-header .content-line .content .content-detail {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
  color: #a2a5b9;
}

.kt-portlet.feed-card .feed-card-actions {
  padding: 12px 24px 15px 18px;
  border-bottom: 1px solid #e8ecfa;
}

.kt-portlet.feed-card .feed-card-actions .actions-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kt-portlet.feed-card .feed-card-actions .actions-row:not(:first-child) {
  margin-top: 15px;
}

.kt-portlet.feed-card .feed-card-actions .reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kt-portlet.feed-card .feed-card-actions .reactions span {
  color: #74788d;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.kt-portlet.feed-card .feed-card-actions .reactions span:not(:last-child) {
  margin-right: 8px;
}

.kt-portlet.feed-card .feed-card-actions .reactions span:hover {
  color: #2C1A6B;
}

.kt-portlet.feed-card .feed-card-actions .num-comments {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  color: #2C1A6B;
  margin-left: auto;
  cursor: pointer;
}

.kt-portlet.feed-card .feed-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
}

.kt-portlet.feed-card .feed-card-body .comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 13px;
}

.kt-portlet.feed-card .feed-card-body .comment-block:last-child {
  padding-bottom: 13px;
}

.kt-portlet.feed-card .feed-card-body .comment-block .avatar-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-name {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  color: #2C1A6B;
  margin-right: 22px;
  font-weight: 500;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-bubble {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  min-height: 40px;
  background-color: rgba(240, 243, 255, 0.5);
  border-radius: 4px;
}

@media (min-width: 600px) {
  .kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-bubble {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-bubble .comment-content {
  margin-top: 8px;
  color: #74788d;
}

@media (min-width: 600px) {
  .kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-bubble .comment-content {
    margin-top: 0;
  }
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-sticker img {
  max-width: 75px;
  height: auto;
  margin-top: 12px;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-actions {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  height: 20px;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-actions .comment-action {
  color: #2C1A6B;
  cursor: pointer;
}

.kt-portlet.feed-card .feed-card-body .comment-block .comment-wrapper .comment-actions .comment-date {
  color: #74788d;
}

.kt-portlet.schedule-card .schedule-card-body {
  width: 100%;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day:not(.schedule-today) .number {
  color: #93a2dd;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day.schedule-today .schedule-date {
  min-width: 50px;
}

@media (min-width: 600px) {
  .kt-portlet.schedule-card .schedule-card-body .schedule-day.schedule-today .schedule-date {
    min-width: 100px;
  }
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day.schedule-today .schedule-date::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 35.5px;
  right: -6.5px;
  width: 10px;
  height: 10px;
  background-color: #646c9a;
  border-radius: 50%;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day.schedule-today .schedule-date::after {
  border-color: #646c9a;
  -webkit-box-shadow: 0px 0px 10px rgba(61, 96, 197, 0.7);
          box-shadow: 0px 0px 10px rgba(61, 96, 197, 0.7);
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-date {
  position: relative;
  border-right: 1px solid #e8ecfa;
  padding-right: 14px;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-date::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 30px;
  right: -11.5px;
  width: 20px;
  height: 20px;
  background-color: #e8ecfa;
  border: 2px solid #93a2dd;
  border-radius: 50%;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 28px;
  margin-bottom: 6px;
  padding: 6px 10px;
  background-color: rgba(240, 243, 255, 0.5);
  border-radius: 4px;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item:last-child {
  margin-bottom: 35px;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 40px;
  background-color: #74788d;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-time {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  font-weight: 500;
  color: #090737;
}

@media (min-width: 600px) {
  .kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-time {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-title {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: #595d6e;
}

@media (min-width: 600px) {
  .kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-location {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: #74788d;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item .plan-location span[class^='material-icons'] {
  margin-right: 4px;
  font-size: 20px;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-blue::before {
  background-color: #2C1A6B;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-blue .plan-title {
  color: #2C1A6B;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-red::before {
  background-color: #c42b52;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-red .plan-title {
  color: #c42b52;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-green::before {
  background-color: #1dc9b7;
}

.kt-portlet.schedule-card .schedule-card-body .schedule-day .schedule-plan .schedule-plan-item.plan-item-green .plan-title {
  color: #1dc9b7;
}

/* Stat. Card */
.kt-portlet.stat-card .stat-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.stat-card .stat-card-body .stat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 30px;
  border-bottom: 1px solid #e8ecfa;
}

@media (min-width: 600px) {
  .kt-portlet.stat-card .stat-card-body .stat-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .kt-portlet.stat-card .stat-card-body .stat-row {
    width: 100%;
  }
}

.kt-portlet.stat-card .stat-card-body .stat-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.kt-portlet.result-card {
  margin-bottom: 8px;
  padding: 18px 20px;
}

.kt-portlet.result-card:last-child {
  margin-bottom: 0;
}

.kt-portlet.result-card .kt-portlet__body {
  padding: 0;
}

.kt-portlet.result-card .result-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .kt-portlet.result-card .result-card-body {
    padding-right: 20px;
  }
}

.kt-portlet.result-card .result-card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kt-portlet.result-card .result-card-heading .result-card-heading__text {
  padding-right: 30px;
}

@media (min-width: 600px) {
  .kt-portlet.result-card .result-card-heading .result-card-heading__text {
    padding-right: 0;
  }
}

.kt-portlet.result-card .result-card-heading .result-card-heading__text h6 {
  margin-bottom: 8px;
}

.kt-portlet.result-card .result-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.kt-portlet.result-card .attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 65px;
  height: 65px;
}

@media (min-width: 600px) {
  .kt-portlet.result-card .attachment {
    width: 90px;
    height: 90px;
  }
}

.kt-portlet.result-card .attachment img {
  width: 100%;
  height: auto;
}

.online-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 35px;
}

@media (min-width: 600px) {
  .online-list {
    padding-top: 0;
    padding-left: 35px;
  }
}

.online-list .person-wrapper {
  position: relative;
  margin: 8px 4px;
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.online-list .person-wrapper:last-child {
  position: relative;
}

.online-list .person-wrapper:last-child::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 7, 55, 0.75);
}

.online-list .person-wrapper:last-child a.kt-media {
  position: relative;
  z-index: 1;
}

.online-list .person-wrapper:last-child .counter {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

.kt-pagination .kt-pagination__links li.kt-pagination__link--active,
.kt-pagination .kt-pagination__links li:hover {
  background: #2C1A6B;
}

.kt-pagination .kt-pagination__links li.kt-pagination__link--first a i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--next a i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--prev a i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--last a i {
  color: #2C1A6B;
}

.kt-pagination
.kt-pagination__links
li.kt-pa.kt-paginationgination__link--first
a:hover i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--next a:hover i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--prev a:hover i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--last a:hover i {
  color: white;
}

.kt-pagination
.kt-pagination__links
.kt-pagination__link--first--inactive:hover,
.kt-pagination
.kt-pagination__links
.kt-pagination__link--next--inactive:hover {
  background: none;
}

.kt-pagination .kt-pagination__links li.kt-pagination__link--first--inactive a:hover i,
.kt-pagination .kt-pagination__links li.kt-pagination__link--next--inactive a:hover i {
  color: #a2a5b9;
}

.kt-demo-panel--right .kt-demo-panel {
  right: -520px;
}

.kt-demo-panel {
  padding: 0;
  width: 80% !important;
}

@media (min-width: 600px) {
  .kt-demo-panel {
    width: 520px !important;
  }
}

.kt-demo-panel .kt-demo-panel__head {
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  height: 166px;
  color: white;
  background: #2C1A6B;
}

.kt-demo-panel .kt-demo-panel__head .kt-demo-panel__close {
  background: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.kt-demo-panel .kt-demo-panel__head .kt-demo-panel__close:hover {
  background: none;
}

.kt-demo-panel .kt-demo-panel__head .kt-demo-panel__close:hover i {
  color: #a2a5b9;
}

.kt-demo-panel .kt-demo-panel__head .kt-demo-panel__close i {
  color: white;
}

.kt-demo-panel .kt-demo-panel__head .panel-tabs {
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
}

.kt-demo-panel .kt-demo-panel__head .panel-tabs .nav-pills {
  margin-bottom: 0;
}

.kt-demo-panel .kt-demo-panel__head .panel-tabs .nav-pills .nav-item {
  width: auto;
  text-align: center;
}

@media (min-width: 600px) {
  .kt-demo-panel .kt-demo-panel__head .panel-tabs .nav-pills .nav-item {
    width: 221px;
  }
}

.kt-demo-panel .kt-demo-panel__head .panel-tabs .nav-pills .nav-item .nav-link:not(.active) {
  background: #f5f6fc;
}

.kt-demo-panel .kt-demo-panel__head .panel-tabs .nav-pills .nav-item .nav-link.active {
  background: #2C1A6B;
}

.kt-demo-panel .kt-demo-panel__body {
  z-index: 1;
  padding: 0 23px;
  margin: 0;
}

.kt-demo-panel .kt-demo-panel__body .text-card .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  .kt-demo-panel .kt-demo-panel__body .text-card .row-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.kt-demo-panel .kt-demo-panel__body .text-card .row-wrapper .label {
  width: 100%;
}

@media (min-width: 600px) {
  .kt-demo-panel .kt-demo-panel__body .text-card .row-wrapper .label {
    width: 25%;
  }
}

.feed-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feed-types .app-btn {
  min-width: 63px;
}

.feed-date {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 25px 0;
  width: 100%;
  height: 40px;
}

@media (min-width: 600px) {
  .main-search {
    margin: 40px auto;
    width: 75%;
    height: 55px;
  }
}

.main-search .main-search-input {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 12px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #93a2dd;
  border-radius: 4px 0 0 4px;
}

@media (min-width: 600px) {
  .main-search .main-search-input {
    font-size: 22px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 31px;
  }
}

@media (min-width: 600px) {
  .main-search .main-search-input {
    padding: 0 22px;
  }
}

.main-search .main-search-button {
  font-size: 16px;
  padding: 0 20px;
  color: #fff;
  background-color: #2C1A6B;
  border-radius: 0px 4px 4px 0px;
}

@media (min-width: 600px) {
  .main-search .main-search-button {
    font-size: 22px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 31px;
  }
}

@media (min-width: 600px) {
  .main-search .main-search-button {
    padding: 12px 66px;
  }
}

.filter-header {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  color: #434349;
}

@media (min-width: 600px) {
  .filter-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

.kt-portlet.filter-card .kt-portlet__head-label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.kt-portlet.filter-card .kt-portlet__head {
  padding: 0 30px;
}

.kt-portlet.filter-card .filter-toggle {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: #090737;
}

@media (min-width: 600px) {
  .kt-portlet.filter-card .filter-toggle {
    font-size: 18px;
    font-family: 'Prompt';
    font-weight: 500;
    line-height: 26px;
  }
}

.kt-portlet.filter-card .filter-toggle span[class^='material-icons'] {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.kt-portlet.filter-card .filter-toggle:not(.collapsed) span[class^='material-icons'] {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.kt-portlet.filter-card .filter-group {
  padding: 0 30px;
}

.kt-portlet.filter-card .filter-group .kt-checkbox-list,
.kt-portlet.filter-card .filter-group .kt-radio-list {
  padding-bottom: 35px;
  border-bottom: 1px solid #e8ecfa;
}

.kt-portlet.filter-card .filter-group .tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.kt-portlet.filter-card .filter-group .tags-list .tag-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  margin-right: auto;
  padding-left: 15px;
  color: #2C1A6B;
  cursor: pointer;
}

@media (min-width: 600px) {
  .kt-portlet.filter-card .filter-group .tags-list .tag-item {
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
  }
}

.result-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 19px;
  margin-bottom: 19px;
}

@media (min-width: 600px) {
  .result-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 0;
  }
}

.result-header .result-title {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #434349;
  margin-bottom: 8px;
}

@media (min-width: 600px) {
  .result-header .result-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}

@media (min-width: 600px) {
  .result-header .result-title {
    margin-bottom: 0;
  }
}

.result-header .search-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 600px) {
  .result-header .search-conditions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.result-header .search-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .result-header .search-items {
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.result-header .search-items .search-item {
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px 0 10px;
  height: 30px;
  color: #184877;
  background-color: #fff;
  border: 1px solid #e3e4e9;
  border-radius: 3px;
  margin: 4px;
}

.result-header .search-items .search-item .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border-left: 1px solid #e3e4e9;
  cursor: pointer;
}

.result-header .search-items .search-item .close-btn:hover {
  background-color: rgba(44, 26, 107, 0.1);
}

.result-header .search-items .search-item .close-btn span[class^='material-icons'] {
  font-size: 20px;
}

.result-header .clear-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: normal;
  line-height: 150%;
  color: #2C1A6B;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 8px;
}

@media (min-width: 600px) {
  .result-header .clear-btn {
    margin-bottom: 0;
  }
}

.radio-select {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #2C1A6B;
  border-radius: 50%;
  cursor: pointer;
}

.radio-select.is-selected::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #2C1A6B;
  border-radius: 50%;
}

@media (min-width: 1025px) {
  .kt-header .kt-header__top .kt-container .kt-header__brand-logo-default {
    display: inline-table;
  }
  .kt-header .kt-header__top .kt-container .kt-header__brand-logo-sticky,
  .kt-header .kt-header__top .kt-container .kt-header__brand-logo-sticky-txt {
    display: none;
  }
  .kt-header--fixed.kt-header--minimize
.kt-header
.kt-header__top
.kt-header__brand-logo-default,
  .kt-header--fixed.kt-header--minimize
.kt-header
.kt-header__top
.kt-header__brand-logo-default-txt {
    display: none;
  }
  .kt-header--fixed.kt-header--minimize
.kt-header
.kt-header__top
.kt-header__brand-logo-sticky,
  .kt-header--fixed.kt-header--minimize
.kt-header
.kt-header__top
.kt-header__brand-logo-sticky-txt {
    display: inline-table;
  }
  .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__hor-arrow {
    font-size: 1rem;
  }
  .kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text {
    color: #2C1A6B;
  }
}

@media (max-width: 1024px) {
  .kt-header .kt-header__top .kt-header__brand-logo-default,
  .kt-header .kt-header__top .kt-header__brand-logo-sticky,
  .kt-header .kt-header__top .kt-header__brand-logo-default-txt,
  .kt-header .kt-header__top .kt-header__brand-logo-sticky-txt {
    display: none;
  }
}
